* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.disabled {
  display: none;
}


/* header */

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  padding: 20px 0;
}

.header__form {
  display: flex;
}

.button {
  padding: 0 15px;
  font-weight: 500;
  font-size: 13px;
  line-height: 38px;
  border-radius: 2px;
}


.basket {
  margin-left: 25px;
  vertical-align: middle;
}

.button--white {
  background-color: #fff;
  margin-right: 16px;
  border: 1px solid #E0E0E0;

}

.button--black {
  background: #262626;
  color: #FFFFFF;
  border: none;
}

/* .form input {
  padding: 8px;
  color: #1D1D1D;
  border: 1px solid #E0E0E0;
  border-radius: 50px;

} */
.form_txt {
  font-weight: 300;
  color: #626262;
  margin: 10px 8px;
}

.city {
  max-width: 65px;
  padding-left: 15px;
  border: 1px solid #e0e0e0;

}

.street {
  border: 1px solid #e0e0e0;
  padding-left: 30px;
  padding-right: 70px;
  max-width: 292px;
  background: url(../img/mobile_stories/icons/location.svg)no-repeat 12px center;
}

/* main */

/* ----------rest-cont-------------- */

.restaurans-page {
  min-height: 364px;
  background-image: url(../../img/Restaurant/bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;



}

.rest-item {
  display: inline-block;
  background-color: #fff;
 /* max-width: 389px;  */
  /* max-height: 204px; */
  margin-top: 80px;
  padding: 38px;
  text-align: center;
}

.rest-item__title {
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;

  color: #1D1D1D;
}

.rest-item__text {
  font-size: 14px;
  line-height: 1;
  padding-top: 62px;
  padding-bottom: 4px;
  color: #626262;
  display: inline-block;
}

.rest-item__time {
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  margin-left: 80px;
  color: #FFFFFF;
  display: inline-block;

  background: #262626;
  border-radius: 16px;
  padding: 10px 16px;

}



/* food-wrapper */



.nav {
border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  align-items: center;
  display: flex;
  padding: 40px 0;



}


.nav__food {
  display: flex;
  list-style-type: none;

}

.nav__food_list {
  margin-right: 40px;
}

.nav__food_list>a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  color: #626262;
}

.nav__food_list:last-child {
  margin-right: 0;
}




/* food-inner */



.food-inner__title {
 font-weight: normal;
font-size: 22px;
line-height: 1;
color: #1D1D1D;
margin-top: 56px;


}

.food-inner-wrapper {
  display: flex;
  flex-wrap: wrap;

  flex: 1 0 auto;

  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 100px;
margin-top: 32px;
}

.food-block {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(117, 117, 117, 0.2);
box-sizing: border-box;
border-radius: 2px;
text-decoration: none;

  flex: 1 0 48%;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 50px; 
}

.food-block-text {
  padding: 16px 16px;
}

.food-block-text__title {
  
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  
  color: #1D1D1D;
}


.food-block-text__desc{
font-size: 13px;
line-height: 2;
color: #626262;
}


.food-block-text__price {
  /* margin-top: 55px;  */
font-weight: 500;
font-size: 15px;
line-height: 1.5;
display: inline-block;


color: #1D1D1D;

}




.food-block__img {
max-width: 100%;
height: auto;
  
}











/* footer */



.footer {
  background-color: #262626;
}

.footer-logo {
  padding-top: 55px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  display: flex;
  align-items: center;

}

/* footer-info */
.footer-info {
  display: flex;
  padding-bottom: 48px;
  padding-top: 32px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);

}

.footer-info__social__select {
  width: 227px;
  height: 40px;
  font-size: 13px;
  color: #fff;
  background-color: #3B3B3B !important;
  border: none;
  border-radius: 2px;
  padding-left: 45px;
  background: url(../img/mobile_stories/icons/world.svg)no-repeat 12px center;
  margin-bottom: 33px;
  text-transform: uppercase;
}

.footer-info__social__select option {
  background-color: #3B3B3B;
  padding-left: 0;
}

.footer-info__social--txt {
  color: #fff;
  font-size: 16px;
  padding-bottom: 20px;

}

.footer-info__social--txt>span {
  color: #49A144;
}

.footer-info__social--link {
  padding-right: 5px;
}

.footer-info__list {

  padding-left: 95px;
}

.footer-info__list__about {
  list-style: none;

}

.footer__info__link {
  display: block;
  text-decoration: none;
}

.footer__info__link--white {
  color: white;
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 23px;
}


/* footer-info__nav */
.footer-info__nav {
  padding-left: 154px;

}

.footer-info__nav__list {
  list-style: none;


}

.footer-info__nav__list--link {
  color: white;
  display: block;
  font-size: 13px;
  padding-bottom: 23px;
  text-decoration: none;

}



/* footer-mobile */
.footer-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 39px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

.footer-mobile--btn {
  cursor: pointer;
}

.footer-mobile--google {
  margin-left: 20px;
}

/* footer-copy */
.footer-copy {
  padding-top: 40px;
  padding-bottom: 40px;


}

.footer__copy__name {
  color: #fff;
  font-size: 11px;
}

.footer__copy__terms {
  color: #fff;
  font-size: 11px;
  text-decoration: none;
}

.footer__copy__terms--priv {
  padding-left: 175px;

}

.footer__copy__terms--t {
  padding-left: 288px;
}





@media screen and (max-width: 992px) {
  .container {
    width: 780px;
  }

}

@media screen and (max-width: 810px) {
  .container {
    width: 720px;
  }

}

@media screen and (max-width: 768px) {

  .rest__block {
    flex: 1 0 40%;
    max-width: 60%;

  }

  .street {
    font-size: 13px;
    max-width: 270px;
    padding-left: 36px;
    padding-right: 30px;

  }

  .food-inner-wrapper {
    display: flex;
    flex-direction: column;
  
  }

  .food-block {
    max-width: 100%;  
    margin-bottom: 32px; 
  }
  

}

@media screen and (max-width: 750px) {
  .container {
    width: 650px;

  }

  .restaurans {
    padding-top: 95px;
  }


  .header__form {
    display: none;
  }

  .footer-info__nav {
    padding-left: 60px;

  }

  .footer-info__list {
    padding-left: 40px;
  }

  .footer__copy__terms--priv {
    padding-left: 110px;

  }

  .footer__copy__terms--t {
    padding-left: 190px;
  }
}





@media screen and (max-width: 680px) {
  .container {
    width: 540px;
  }

  .nav {
    display: none;
  }

  .food-inner__title {
   text-align: center;
position: relative;

   
   }

   .food-inner__title::after{
    content: "";
    bottom: -50%;
    left: 43%;
    height: 1px;
    width: 15%;
    position: absolute;
    background-color: #757575;
   }

}



@media screen and (max-width: 570px) {
  .container {
    width: 480px;
  }

  .footer__copy__terms--priv {
    padding-left: 100px;

  }

  .footer__copy__terms--t {
    padding-left: 130px;
  }

}


@media screen and (max-width: 510px) {
  .container {
    width: 380px;
  }

  .rest__block {
    flex: 1 0 50%;
    max-width: 100%;

  }

  .footer-info {
    flex-direction: column;
  }

  .footer-info__list {
    padding: 40px 0 0 0;
  }

  .footer-info__nav {
    padding: 0;

  }

  .footer-copy {
    display: flex;
    flex-direction: column;
  }

  .footer__copy__name {
    padding-bottom: 24px;
  }

  .footer__copy__terms--priv {
    padding-left: 0;
    padding-bottom: 24px;


  }

  .footer__copy__terms--t {
    padding-left: 0;
  }

  .rest-item {
    width: 100%;
  }



  .rest-item__title {
    
    font-size: 24px;
   
  }

  .rest-item__text {
    display: block;
    padding-left: 0;
    text-align: center;
    margin-bottom: 15px;
    
    }
    .rest-item__time { 
margin-left: 0;


    }

    .food-block-text__title {
      font-size: 14px;
    }

    
  .food-block {
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    margin-bottom: 0; 
  }


.food-block__img {
max-width: 50%;
  
}




}



@media screen and (max-width: 410px) {
  .container {
    width: 320px;
  }

  .basket {
    display: none;
  }

}

@media screen and (max-width: 375px) {
  .container {
    width: 300px;
  }

  .street {
    max-width: 250px;
    padding-left: 30px;
    padding-right: 5px;

  }

  .button {
    font-size: 11px;
  }

}

@media screen and (max-width: 330px) {
  .container {
    width: 290px;
  }

  .street {
    max-width: 250px;
    padding-left: 30px;
    padding-right: 0;
  }
}