/*font-family: 'Open Sans', 'Arial', sans-serif;
font-family: 'PT Sans', 'Arial', sans-serif;
*/


* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'PT Sans', 'Arial', sans-serif;
}





.row_nav-2 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	margin-top: -20px;
}


.container {
	width: 970px;
	margin: 0 auto;
	padding: 0 10px;
	/*border: 1px solid red;*/
}

.row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header-row {
	justify-content: space-between;
}



.base-title {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 300;
	margin-bottom: 20px;
}

.center-title {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-top: 35px;
	text-align: center;
}

.center-title::before,
.center-title::after {
	content: "";
	flex-grow: 1;
	flex-shrink: 0;
	width: 50px;
	height: 1px;
	background: #d7d7d7;
}

.center-title::before {
	margin-right: 25px;
}

.center-title::after {
	margin-left: 25px;

}

.fix {
	margin-top: -70px;
	padding-top: 70px;
	background-position: 0% 85%;
}

/* .main {
	margin-top: -20px;
} */

.nav-2_none {
	display: none;
}


/*--------------------------header--------------------*/

.main-header {
	min-height: 120px;
	background-color: #e9f0f0;
}

.logo-img {
	max-width: 100%;
	height: auto;
	/*display: inline-block;*/
	margin-top: 10px;
}

.main-nav {
	margin-top: 45px;
	margin-bottom: 10px;
}


.nav_menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
	position: relative;
}

.nav_menu li {
	padding-right: 15px;
}

.nav_menu__link {
	color: #001b4c;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}

.nav_menu__link:hover {
	color: #789ec7;
}

.call-block {
	margin-top: 16px;

}

.call_link {
	display: block;
	text-decoration: none;
	font-weight: 700;
	padding-bottom: 5px;
	color: #000;
}

.call_link__btn {
	color: #6093c3;
	margin-left: 25px;
	font-size: 15px;
	text-decoration: none;
	border-bottom: 1px dashed;


}

.call_link__btn:hover {
	color: #282828;
}


/*-----------------main----------------*/

/*-----form_action--------*/
.form-action {
	padding-bottom: 100px;
	background-image: url(../img/form-sec/mask_wom.png),
		url(../img/form-sec/bg-3.png),
		url(../img/form-sec/bg.png),
		url(../img/form-sec/bg-2.png);
	background-size: auto, cover, cover, cover;
	background-repeat: no-repeat;
	background-position:
		/*left top*/
		-35%, top right;



}

@media screen and (min-width: 1690px) {
	.form-action {
		background-position: left top, top right;
	}
}


.row-action {
	justify-content: flex-end;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

}

.order-block {
	margin-top: 190px;
	max-width: 44%;
	margin-right: 45px;
	/*border: 1px solid red;*/
	color: #fff;
	margin-left: 80px;


}

.order-block p {
	font-size: 22px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 300;
	margin-bottom: 50px;

}

.action_order {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	padding: 15px 45px;
	background-color: Transparent;
	cursor: pointer;
	border: 1px solid #fff;
}

.action_order:hover {
	background-color: #559ad8;
}

.form-block {
	/*max-width: 375px;*/
	background-color: #fff;
	max-width: 42%;
	min-height: 506px;
	margin-top: 100px;
	padding: 40px 35px;
	/*border: 1px solid red;*/
}

.order_title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 34px;
	margin-bottom: 40px;
}

.main-form {
	display: flex;
	flex-direction: column;
}



.form-block {
	font-size: 14px;
}

.form-block p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 30px;
}

.form-block a {
	color: #166ab0;
	font-size: 14px;
}

.form_label {
	margin-left: 5px;
	margin-bottom: 10px;

}

.form_input {
	margin-top: 3px;

}

.form_inp {
	border: none;
	outline: none;
	border-bottom: 2px solid #afafaf;
	height: 30px;
	font-size: 16px;
	margin-bottom: 15px;
}

.form_inp:focus {
	color: #000;
	border-bottom: 2px solid #000;
}



.main-form a {
	margin-left: 10px;
	margin-bottom: 5px;
}

.form-btn {
	padding: 13px 80px;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #2982c4;
	color: #fff;
	border: none;
	margin-bottom: 15px;
	display: block;
}

.form-btn:hover {
	background: linear-gradient(to bottom, #48a7d6, #2985ce);
	cursor: pointer;
	transition: 0.2s;
}

small {
	font-weight: 300;
	font-size: 14px;
}

/*-----description-block----------------*/



.desc-txt-block {
	margin-top: 60px;
	max-width: 45%;

}

.desc_txt {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 35px;
	color: #545454;


}

.desc-img-block {
	/* max-width: 45%; */
	display: inline-block;
	margin-top: 80px;
	margin-left: 5px;
}

.desc_use {
	margin-bottom: 55px;
	text-align: center;

}


/*------------------main-img-block----------*/

.main-img-wrapper {
	padding-top: 40px;
	width: 100%;
}


.row-img-block {
	flex-wrap: wrap;
}



.img-wrapper-txt {
	max-width: 33.3%;
	position: relative;
	cursor: pointer;

}

.img_block-1 {
	max-width: 100%;
	height: auto;
	margin-top: -6px;
}




.wrapper_txt_img {
	position: absolute;
	padding: 30px;
	text-align: center;
	background-image: url(../img/form-sec/bg-3.png),
		url(../img/form-sec/bg.png),
		url(../img/form-sec/bg-2.png);
	background-size: cover;
	background-repeat: no-repeat;
	top: -6px;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	color: #fff;



}

.wrapper_txt_img:hover {
	opacity: 1;
}

.wrapper_txt_title {
	font-family: Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding-bottom: 20px;

}

.wrapper_txt {
	font-size: 14px;
	font-weight: 300;
}







@media screen and (max-width: 991px) {
	.img_block {
		max-width: 50%;
	}
}

/*magazine-block-----*/
.mask-magazine {
	margin-bottom: 114px;
}

.magazine-row {
	justify-content: space-around;

}

.magazine-item {
	max-width: 31%;
	/*min-width: 295px;*/
	/*min-height: 385px;*/
	padding-top: 45px;
	padding-left: 50px;
	padding-right: 50px;
	border: 1px solid #c6ebf9;
	margin-right: -10px;
	margin-left: -10px;
	box-shadow: 0 4px 1px #d7d9d9;
	margin-bottom: 70px;

}

.magazine_img {
	margin-bottom: 30px;
	padding-right: 25px;
	/*min-height: 100%;*/

}

.mask_block_link {
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 25px;
	text-align: center;
	display: block;
	font-size: 16px;
	color: #267dc2;

}

.mask_block_price {
	display: block;
	text-align: center;
	padding-bottom: 60px;
	font-size: 18px;
	font-weight: 300;
}

.magazine-button {
	display: flex;
	justify-content: space-around;
	transform: translateY(25px);
}

.magazine-btn {
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	background-color: #2982c4;
	border: none;
}

.magazine-btn_order {
	padding: 15px 25px;
}

.magazine-btn_about {
	padding: 15px 17px;
	background-color: #f39243;
	margin-left: 10px;
	transition: 0.2s;
}

.magazine-item:hover {
	border: 1px solid #98cde2;
	box-shadow: 0 4px 1px #8abadf;
	transition: 0.2s;

}


.magazine-btn_order:hover {
	background: linear-gradient(to bottom, #48a7d6, #2985ce);
	cursor: pointer;
	transition: 0.2s;
}

.magazine-btn_about:hover {
	background: linear-gradient(to bottom, #feb301, #dd7a24);
	cursor: pointer;
	transition: 0.2s;
}


/*---------present-------------*/

.presentation {
	background-image: url(../img/form-sec/bg-3.png),
		url(../img/form-sec/bg.png),
		url(../img/form-sec/bg-2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:
		/*left top*/
		-35%, top right;
	margin-bottom: 75px;
	min-height: 600px;
	width: 100%;
	position: relative;

}

.row-pres {
	justify-content: space-between;
	flex-wrap: wrap;


}

.pres-sign {
	padding: 20px;
	max-width: 70px;
	text-align: center;
	background-color: #fff;
	box-shadow: 1px 8px 2px #155a9b;
	position: absolute;
	top: 0;
	left: 10%;



}

.group_img {

	margin-top: 120px;
}

.pres_title {
	margin-top: 180px;
	text-transform: uppercase;
	color: #fff;
	font-size: 36px;
	font-weight: 300;
	padding-bottom: 35px;

}

.pres_strong {
	font-weight: 700;
}

.pres_txt {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #e7f4ff;

}



.pres-block {
	max-width: 40%;
}

.pres-img {
	margin-top: 120px;
	position: relative;

}

.img_pos {
	position: absolute;
	top: 0;
	right: 0;

}

.img_pos-1 {
	position: absolute;
	top: 75px;
	right: -25px;
	z-index: 10;
}

.img_pos-2 {
	position: absolute;
	top: 130px;
	right: -25px;
	z-index: 9;
}

.img_pos-2-hover {
	position: absolute;
	top: 130px;
	right: -25px;
	z-index: 8;

}

.img_pos-3 {
	position: absolute;
	top: 170px;
	right: -25px;
	z-index: 7;
}

.img_pos-left {
	position: absolute;
	top: 188px;
	right: 370px;
	z-index: 21;
}

.img_pos-right {
	position: absolute;
	top: 30px;
	right: -50px;
	z-index: 22;
}


.img_pos-circ {
	position: absolute;
	top: 184px;
	right: 370px;
	z-index: 21;
}

.img_pos-circ-r1 {
	position: absolute;
	top: 120px;
	right: 135px;
	z-index: 23;
}

.img_pos-circ-r2 {
	position: absolute;
	top: 265px;
	right: 135px;
	z-index: 24;
}


.pres-text {
	position: absolute;
	font-size: 26px;
	font-weight: 300;
	color: #fff;
}

.right {
	top: 0;
	right: -57px;

}

.left {
	bottom: -107px;
	right: 351px;
}

/*-------------features-------------------*/

.row-features {
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 80px;
	position: relative;


}

.row-features:before {
	content: "";
	top: 37%;
	height: 1px;
	width: 100%;
	position: absolute;
	background-color: #d7d7d7;
}

.row-features:after {
	content: "";
	top: -8%;
	left: 50%;
	height: 90%;
	width: 1px;
	position: absolute;
	background-color: #d7d7d7;
}



.features-wrapper {
	max-width: 46%;
	margin-bottom: 90px;
	flex-grow: 1;
	/*border: 1px solid red;*/

}


.features_title {
	font-size: 20px;
	font-weight: 700;
	padding-left: 5px;
	padding-bottom: 15px;

}

.features_txt {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 300;
	padding-left: 5px;
}

.features_img-block {
	margin-right: 15px;
	float: left;
	min-height: 100px;
	/*border: 1px solid red;*/
}


/*----features-2----------------*/
.features-2 {
	background-color: #000;
	padding-bottom: 50px;


}


.row-features-2 {
	padding-top: 85px;
	padding-bottom: 90px;
	justify-content: space-around;
}

.features_txt_2 {
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	padding-bottom: 25px;

}

.features_count {
	font-size: 56px;
	font-weight: 700;
	color: #63c5f1;
	display: block;
	text-align: center;
}


/*feedback---------------------------------*/

.feedback {
	background-color: #f0f3f5;
	min-height: 500px;

}

.feedback-txt {
	padding-bottom: 30px;
	text-align: center;
}

.feedback_img {
	box-shadow: 0 8px 10px #bfc1c3;
	margin: 0 auto;
	margin-bottom: 7px;
	max-width: 100%;
	height: auto;

}

.feedback_img:hover {
	cursor: pointer;
	border: 1px solid #2c7fc2;
}

.slick-slider {
	padding-bottom: 80px;
}

.slick-active {
	outline: none;
}

.arrows {
	position: absolute;
	width: 25px;
	height: 45px;
	border: none;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	outline: none;
}

.prev {
	background: url(../img/feedback/left.png) center no-repeat;
	top: 40%;
	left: -2%;
	z-index: 99;
}

.next {
	background: url(../img/feedback/right.png) center no-repeat;
	top: 40%;
	right: -2%;
	z-index: 99;
}

.next:hover {
	background: url(../img/feedback/right_hover.png) center no-repeat;
}

.prev:hover {
	background: url(../img/feedback/left_hover.png) center no-repeat;
}





/*------------foooter------------------*/


.main-footer {
	background-color: #363636;
	padding-bottom: 30px;
}

.footer-link {
	display: block;
	text-align: center;
	padding-top: 20px;
	font-size: 14px;
	line-height: 1;
	font-family: 'Arial', sans-serif;
	color: #b4b4b4;
	text-decoration: none;
}

hr {
	background: #606060;
	margin-top: 35px;
	margin-bottom: 35px;
	border: none;
	color: #606060;
	height: 1px;
}

.footer-row {
	justify-content: space-between;
}

.copy_link {
	color: #fff;
	font-weight: 700;
	font-size: 11px;
	text-decoration: none;
	vertical-align: top;
}

.copy_txt {
	color: #b4b4b4;
	font-size: 11px;
	line-height: 1.5;
}

.dev_team {
	color: #b4b4b4;
	font-size: 11px;
	margin-left: 40px;
}

.sdev {
	float: left;
	min-height: 25px;
	margin-right: 10px;
	text-align: right;
}

.dev_link {
	text-decoration: none;
	color: #fff;
}

.footer_metric {
	margin-left: 155px;
}

.social_btn a {
	margin-right: 5px;
	text-decoration: none;
}

.social_btn__svg {
	fill: #797979;
}

.social_btn__fb:hover {
	fill: #3a589b;
}

.social_btn__tw:hover {
	fill: #598dca;
}

.social_btn__yt:hover {
	fill: #cf3427;
}



.modal {
	display: none;
	position: fixed;
	z-index: 99;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
	position: relative;
	border-radius: 5px;
	width: 680px;
	height: 380px;
	background-color: #fff;
	margin: 0 auto;
	display: flex;
	padding: 30px;
}

.close {
	position: absolute;
	top: -10px;
	right: 15px;
	font-size: 50px;
	cursor: pointer;

}

.close:hover {
	color: #888888;
}





.modal-img {
	max-width: 100%;
	height: auto;
	border: 1px solid #c6ebf9;
	padding-top: 60px;
	padding-right: 35px;
	padding-left: 35px;
	padding-bottom: 65px;
}

.price_block {
	margin-top: 10px;
	background-color: #eaeaea;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.modal-text {
	margin-left: 30px;
}

.modal_strong {
	font-size: 25px;
	font-weight: 700;
}


.modal_btn {
	margin-top: 69px;
	padding: 20px 30px;
	background-color: #2982c4;
}

.modal_list {
	font-size: 14px;
	font-weight: 300;
	font-family: Arial, sans-serif;
	color: #545454;
	margin-top: 35px;
	margin-left: 40px;
	line-height: 1.5;
}


.modal-title {
	font-size: 16px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	color: #267dc2;
}

.up {
	text-transform: uppercase;
}

/* ------------------hamburger----------------- */
.hamb {
	display: none;

}

.hamburger {
	position: relative;
	height: 20px;
	width: 55px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	box-sizing: border-box;
	cursor: pointer;
}

.hamburger--line {
	width: 80%;
	height: 5px;
	border-radius: 2px;
	display: block;
	background-color: #f39243;
	transition-duration: 250ms;
	position: absolute;
}


.hamburger--line::before,
.hamburger--line::after {
	content: '';
	width: 100%;
	height: 5px;
	border-radius: 2px;
	display: block;
	background-color: #f39243;
	position: absolute;
	transition: 200ms;
}

.hamburger--line::before {
	top: -10px;
}

.hamburger--line::after {
	top: 10px;
}

.hamburger--line__x {
	transform: rotate(-45deg);
	width: 80%;
}

.hamburger--line__x::before,
.hamburger--line__x::after {
	transform: rotate(90deg);
	top: 0px;
}




/*media*/
@media (max-width: 1910px) {
	.form-action {
		background-image: url(../img/form-sec/bg-3.png),
			url(../img/form-sec/bg.png),
			url(../img/form-sec/bg-2.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top right;
	}
}

@media (max-width: 1110px) {

	.container {
		width: 900px;

	}

	.row-action {
		justify-content: space-around;

	}

	.order-block {
		max-width: 40%;
	}

	.form-block {
		max-width: 40%;
	}

}

@media (max-width: 1024px) {
	.container {
		width: 840px;

	}

	.none {
		display: none;
	}

	.nav-2_none {
		display: block;
		height: 120px;
	}

}


@media (max-width: 975px) {
	.container {
		width: 800px;
	}

	.magazine-row {
		flex-wrap: wrap;

	}

	.magazine-item {
		max-width: 45%;
	}


	.form-block {
		display: none;
	}

	.order-block {
		margin: 0;
		padding-top: 60px;
		max-width: 40%;
	}

	.row-action {
		justify-content: flex-end;
	}

	.form-action {
		background-image: url(../img/form-sec/mask_wom.png),
			url(../img/form-sec/bg-3.png),
			url(../img/form-sec/bg.png),
			url(../img/form-sec/bg-2.png);
		background-size: auto, cover, cover, cover;
		background-repeat: no-repeat;
		background-position:
			/* left top*/
			-35% top, top right;
	}
}


@media (max-width: 960px) {
	.container {
		width: 790px;

	}

	.pres-block {
		max-width: 30%;
	}

	.wrapper_txt_title {
		font-size: 16px;
	}
}

@media (max-width: 930px) {
	.container {
		width: 770px;

	}

	.desc-txt-block {
		max-width: 100%;
	}

	.desc-img-block {
		margin-top: 0;
	}

	.--row-desc {
		flex-wrap: wrap;
		justify-content: center;
	}

	.desc-img-block img {
		width: 100%;
		height: auto;
	}


}



@media (max-width: 890px) {
	.container {
		width: 750px;

	}

	.pres-block {
		max-width: 30%;
	}

}

@media (max-width: 870px) {
	.img-wrapper-txt {
		max-width: 50%;



	}

	.wrapper_txt_title {
		font-size: 22px;
	}

}

@media (max-width: 860px) {
	.form-action {
		background-image: url(../img/form-sec/bg-3.png),
			url(../img/form-sec/bg.png),
			url(../img/form-sec/bg-2.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top right;

	}

	.row-action {
		justify-content: center;
	}

	.order-block {
		max-width: 80%;
	}

}

@media (max-width: 805px) {
	.container {
		width: 710px;
	}

	.modal-content {
		width: 70%;
		display: block;
		height: auto;
		text-align: center;

	}

	.price_block {
		margin: 20px 0;
	}

	.modal_list {
		margin-left: 0;
	}

	.modal_btn {
		margin-top: 30px;
	}

	.modal-img {
		padding: 0 auto;
	}

	.--img-modal {
		max-width: 100%;
		height: auto;


	}

}



@media (max-width: 765px) {
	.container {
		width: 640px;

	}

	.pres-block {
		max-width: 60%;
	}

	.row-pres {
		justify-content: center;
	}

	.group_img {
		margin-top: 80px;
		padding-bottom: 60px;
	}

	.pres-block {
		max-width: 80%;
		;
	}

	.pres-sign {
		display: none;
	}

	.pres_title {
		margin-top: 50px;

	}

	.features_txt {
		font-size: 14px;
	}
}








@media (max-width: 730px) {
	.container {
		width: 650px;
	}

	.row-img-block {
		justify-content: space-around;
	}

	.features-wrapper {
		max-width: 70%;
		border-bottom: 1px solid grey;
	}

	.img-wrapper-txt {
		max-width: 100%;

	}

	.features-wrapper:last-child {
		border: none;
	}

	.row-features {
		justify-content: center;
	}

	.row-features:before {
		display: none;
	}

	.row-features:after {
		display: none;
	}

	.row-features-2 {
		display: block;
	}

	.features_box {
		margin-bottom: 50px;
	}

	.features_txt_2 {
		padding-bottom: 5px;
	}

}



@media (max-width: 670px) {
	.container {
		width: 600px;
	}

	.prev {
		left: 6% !important;
	}

	.next {
		right: 6% !important;
	}

	.footer-row {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.footer_metric {
		margin: 0;
	}

	.dev_team {
		margin-top: 20px;
	}

	.magazine_img {
		max-width: 100%;
		height: auto;
	}

	.magazine-item {
		max-width: 54%;
	}

	.features_txt {
		padding-bottom: 40px;
	}

}

@media (max-width: 641px) {

	.container {
		width: 570px;
	}

	.prev {
		left: 10% !important;
	}

	.next {
		right: 10% !important;
	}

	.nav_menu__link {
		font-size: 14px;
	}


}

@media (max-width: 585px) {
	.container {
		width: 500px;
	}

	.nav_menu {
		text-align: center;
	}

	.nav_menu__link {
		font-size: 15px;
		font-weight: 700;
		line-height: 2;
		text-align: center;
	}

	.magazine-item {
		max-width: 60%;
	}

	.features-wrapper {
		max-width: 70%;
	}

	.social_btn {
		margin-top: 20px;
	}

	.nav-2_none {
		display: none;

	}

	.nav_menu {
		flex-direction: column;
		position: absolute;
		background-color: #fff;
		width: 100%;
		right: 0;
		padding-bottom: 20px;
	}

	.hamb {
		display: block;
		height: 60px;
		background-color: #fff;
	}

	.main-nav {
		margin-top: 0px;
	}



}

@media (max-width: 515px) {
	.container {
		width: 470px;
	}



	.magazine-item {
		max-width: 70%;
	}

	.pres-block {
		max-width: 70%;

	}

	.features-wrapper {
		max-width: 80%;
	}

	.center-title {
		justify-content: center;
	}

	.center-title::before,
	.center-title::after {
		display: none;
	}




}

@media (max-width: 485px) {
	.container {
		width: 460px;
	}


	.magazine-item {
		max-width: 70%;
	}

	.pres-block {
		max-width: 70%;

	}

	.features-wrapper {
		max-width: 100%;
	}


}

@media (max-width: 475px) {
	.container {
		width: 400px;
	}

	.footer-row {
		flex-direction: column;
	}

	.footer_copy,
	.footer_metric,
	.social_btn {
		margin-top: 15px;
		text-align: center;
	}

	.dev_team {
		margin-left: 110px;
	}

	.desc_txt {
		font-size: 13px;


	}


	.order_title {
		font-size: 28px;
	}

	.pres_title {
		font-size: 30px;
	}
}


@media (max-width: 415px) {
	.container {
		width: 370px;
	}

	.dev_team {
		margin-left: 90px;
	}

	.group_img {
		max-width: 100%;
		height: auto;
	}

	.prev {
		left: -2% !important;
	}

	.next {
		right: -2% !important;
	}


	.magazine-item {
		max-width: 80%;
	}


}

@media (max-width: 390px) {
	.container {
		width: 340px;
	}

	.dev_team {
		margin-left: 90px;
	}



}






@media (max-width: 375px) {
	.container {
		width: 310px;
	}

	.prev {
		left: -5% !important;
	}

	.next {
		right: -5% !important;
	}

	.header-row {
		flex-direction: column;
		text-align: center;
	}

	.main-header {
		height: 200px;
	}

	.dev_team {
		margin-left: 70px;
	}


}



@media (max-width: 335px) {
	.container {
		width: 280px;
	}


	.order-block {
		max-width: 100%;
	}

	.order_title {
		font-size: 26px;
	}

	.mask_block_link {
		font-size: 14px;
	}

	.features_txt {
		font-size: 13px;
	}

	.dev_team {
		margin-left: 50px;
	}


	.prev {
		left: -7% !important;
	}

	.next {
		right: -5% !important;
	}

	.features_img-block {
		min-height: 120px;
	}

	.group_img {
		max-width: 100%;
		height: auto;
	}

	.magazine-btn {
		font-size: 12px;


	}

	.magazine-item {
		max-width: 90%;
	}
}


@media (max-width: 325px) {
	.container {
		width: 250px;

	}

	.features-wrapper {
		max-width: 100%;
	}

	.magazine-item {
		max-width: 100%;
	}

	.pres-block {
		max-width: 100%;
	}

	.pres_txt {
		font-size: 13px;
	}

	.prev {
		left: -13% !important;
	}

	.next {
		right: -13% !important;
	}

	.dev_team {
		margin-left: 30px;
	}

}