@font-face {
    font-family: "Open-Sans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-slab-Reg";
    src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "Roboto-slab-light";
    src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
