.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  padding: 20px 0;
}

.header__form {
  display: flex;
}

.button {
  padding: 0 15px;
  font-weight: 500;
  font-size: 13px;
  line-height: 38px;
  border-radius: 2px;
}


.basket svg {
  margin-left: 25px;
  vertical-align: middle;
}

.white {
  background-color: #fff;
  margin-right: 16px;
  border: 1px solid #E0E0E0;

}

.black {
  background: #262626;
  color: #FFFFFF;
  border: none;
}

.form input {
  padding: 8px;
  color: #1D1D1D;
  border: 1px solid #E0E0E0;
  border-radius: 2px;

}
.form_txt {
  font-weight: 300;
  color: #626262;
  margin: 10px 8px;
}

.city {
  max-width: 65px;
  text-indent: 5px;
  border: 1px solid #e0e0e0;

}

input.street {
  border: 1px solid #e0e0e0;  
  padding-left: 30px;
  padding-right: 70px;
  width: 292px;
  background: url(../img/mobile_stories/icons/location.svg)no-repeat 12px center;
}
