.search {
  padding: 40px 0;
}


.searching_form {
  max-width: 100%;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 15px;
}

.search__input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgba(98, 98, 98, 0.5);
  background: url(../img/mobile_stories/icons/search.svg)no-repeat 12px center;
  padding-left: 35px;

}

.find {
  width: 22px;
  height: 21px;
  padding-right: 2px;
}